@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --primary: 240 100% 50%;
  --primary-foreground: 0 0% 100%;
  --border: 240 4.9% 83.9%;
  --input: 240 4.9% 83.9%;
  --ring: 240 4.9% 83.9%;
  --radius: 0.5rem;

  --sidebar-background: 240 4.9% 95%;
  --sidebar-foreground: 240 10% 10%;
  --sidebar-primary: 240 100% 50%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 240 10% 60%;
  --sidebar-accent-foreground: 0 0% 100%;
  --sidebar-border: 240 4.9% 83.9%;
  --sidebar-ring: 240 4.9% 83.9%;
}
